<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Appointment</title>
</head>
<style>
    body {
        background-image: url(https://cdn.pixabay.com/photo/2020/11/02/19/52/doctor-5707722_1280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<body class="bg-gray-100"> 
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <br><br>

    <!-- Form Section -->
    <section class="form section">

   
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Create an Appointment</h1>

        <form method="POST" action="{% url 'create_appointment' %}" class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow">
            {% csrf_token %}
            <div class="mb-4">
                <label for="doctor" class="block text-gray-700">Doctor:</label>
                <select id="doctor" name="doctor" class="w-full px-4 py-2 border rounded-lg">
                    {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">{{ doctor.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-4">
                <label for="patient_name" class="block text-gray-700">patient:</label>
                <input type="text" id="patient_name" name="patient_name" class="w-full px-4 py-2 border rounded-lg" required>
            </div>
            
            <div class="mb-4">
                <label for="appointment_date" class="block text-gray-700">Appointment Date:</label>
                <input type="date" id="appointment_date" name="appointment_date" class="w-full px-4 py-2 border rounded-lg" required>
            </div>
            <div class="mb-4">
                <label for="appointment_time" class="block text-gray-700">Appointment Time:</label>
                <input type="time" id="appointment_time" name="appointment_time" class="w-full px-4 py-2 border rounded-lg" required>
            </div>
            <div class="mb-4">
                <label for="symptoms" class="block text-gray-700">Symptoms:</label>
                <textarea id="symptoms" name="symptoms" class="w-full px-4 py-2 border rounded-lg" required></textarea>
            </div>
            <button type="submit" class="w-full px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-700">Book Appointment</button>
        </form>
    </div>
</section>
  
</body>
</html>
